services:
    postgres-db:
        image: postgres
        restart: always
        env_file:
            - .env
        volumes:
            - pgdata:/var/lib/postgresql/
    redis-db:
        image: redis
        restart: always
    pgadmin:
        image: dpage/pgadmin4
        restart: always
        environment:
            - PGADMIN_DEFAULT_EMAIL=6kNtP@example.com
            - PGADMIN_DEFAULT_PASSWORD=password
        depends_on:
            - postgres-db
        ports:
            - 5050:80
    app:
        build: .
        restart: always
        env_file:
            - .env
        depends_on:
            - postgres-db
            - redis-db
        ports:
            - 3000:3000
        command: ["npm", "run", "start:dev"]
volumes:
    pgdata: